.root {
    -fx-background-color: #280000;
}


.button {
    -fx-background-color: #006464;
    -fx-pref-width: 90px;
    -fx-pref-height: 20px;
    -fx-font-fill: #08290e;
}

.test {
    -fx-text-fill: darkgoldenrod;
}
.userbuttonconfirmation {
    -fx-pref-width: 230px;
}
.yesbutton {
    -fx-pref-width: 65px;
    -fx-text-fill: darkred;
    -fx-pref-height: 20px;
}
.nobutton {
    -fx-pref-width: 65px;
    -fx-text-fill: darkred;
    -fx-pref-height:20px;
}

.textcolorsforuser {
    -fx-text-fill: #11373b;
}

.otherlabelcolors {
    -fx-text-fill: chocolate;
}